*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        width: 60%;
        h1 {
            font-size: 40px;
            font-weight: bold;
        }
    }
}

.d-selecion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    div {
        padding: 15px 50px;
        border: 2px solid black;
        margin: 0px 20px;
        border-radius: 10px;
        cursor: pointer;
        p {
            font-size: 20px;
            margin: 0;
            color: white;
            font-weight: bold;
        }
    }
    .selecionUs{
        background-color: #343A40;
        border: 2px solid #343A40;
    }
    .selecionEu {
        background-color: #007BFF;
        border: 2px solid #007BFF;
    }
}


.convertidor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    div{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            width:60%!important;
            padding: 20px 20px;
            border-radius: 10px;
            color: black !important;
            border: 2px solid #343A40;
        }
        div {
            padding: 5px;
            p {
                font-size: 20px;
                margin: 0;
                padding: 10px;
                a{
                    margin: 0;
                    text-decoration: none;
                }
            }
            h4 {
                font-weight: bold;
            }
        }
    }
}


.resultado{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    div {
        width: 80%;
        height: auto;
        color: white;
        border-radius: 10px;
        h4{
            padding: 30px;
            font-weight: normal !important;
            span {
                font-weight: bold;
                color: rgba(255, 255, 255, 0.856);
            }
        }
    }
}

