*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ecf0f1;
}

.main-app{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .app{
        width:60%;
        padding: 50px;
        border-radius: 20px;
        background-color: #2c3e50;
        header{
            width: 100%;
            padding: 10px;
            text-align: center;
            h1 {
                color: white;
                font-weight: bold;
            }
        }
        section{
            width: 100%;
            padding: 20px 0px;
        }
        .seccionBotones{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                div {
                    padding: 10px;
                    border: 2px solid black;
                    margin: 0px 20px;
                    border-radius: 10px;
                    cursor: pointer;
                    p {
                        font-size: 16px;
                        margin: 0;
                        color: white;
                        font-weight: bold;
                    }
                }
                .d-usa{
                    border: 2px solid #e74c3c;
                    background-color: #e74c3c;
                    p {
                        color: white !important;
                    }
                }
                .d-eu {
                    border: 2px solid #3498db;
                    background-color:#3498db !important;
                    p{
                        color: white !important;
                    }

                }
            }
            
        }
        .seccionInput{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                margin: 0;
                padding-bottom: 20px;
                font-size: 20px;
                font-weight: bold;
                color: white;
            }
            .d-inputs{
                width: 100%;
                display: flex;
                flex-direction: row;
                div {
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    input {
                        display: none ;
                        width: 90%;
                        border: 4px solid #e74c3c;
                        padding: 20px;
                        border-radius: 10px;
                        font-weight: bold; 
                        font-size: 16px;
                    }
                    #result {
                        display: none ;
                    }
                    p {
                        font-size: 16px;
                        margin: 0;
                    }

                    .dolar {
                        display: block;
                        width: 90%;
                        border: 4px solid #e74c3c;
                        padding: 20px;
                        border-radius: 10px;
                    }
                    .euro {
                        display: block;
                        width: 90%;
                        border: 4px solid #3498db;
                        padding: 20px;
                        border-radius: 10px;
                    }
                }
            }

        }
    }
}



.d-selecion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    div {
        padding: 20px 50px;
        border: 2px solid black;
        margin: 0px 20px;
        border-radius: 10px;
        cursor: pointer;
        p {
            font-size: 20px;
            margin: 0;
            color: white;
            font-weight: bold;
        }
    }
    .selecionUs{
        border: 2px solid #343A40;
        p {
            color: #343A40;
        }
        &:hover{
            transition: all .2s ease-out;
            background-color:#343A40 !important;
            p{
                color: white !important;
            }
        }
    }
    .selecionEu {
        border: 2px solid #007BFF;
        p{
            color: #007BFF;
        }
        &:hover{
            transition: all .2s ease-out;
            background-color:#007BFF !important;
            p{
                color: white !important;
            }
        }
    }

    @media screen and(max-width:792px){
        flex-wrap: wrap !important;
        div{
            width: 100%;
            margin: 10px 20px;
            padding: 20px 10px !important;
        }
    }
}


.convertidor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    div{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            width:60%!important;
            padding: 30px 20px;
            border-radius: 10px;
            color: black !important;
            border: 2px solid #343A40;
            font-size: 30px;
        }
        div {
            padding: 5px;
            p {
                font-size: 20px;
                margin: 0;
                padding: 10px;
                a{
                    margin: 0;
                    text-decoration: none;
                }
            }
            h4 {
                font-weight: bold;
            }
        }
    }
    @media screen and(max-width:792px){
        div {
            input {
                width: 100% !important;
                padding: 30px 10px;
                font-size: 25px;
            }
        }
    }
}


.resultado{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    div {
        width: 80%;
        height: auto;
        color: white;
        border-radius: 10px;
        h4{
            padding: 30px;
            font-weight: normal !important;
            span {
                font-weight: bold;
                color: rgba(255, 255, 255, 0.856);
            }
        }
    }
    @media screen and(max-width:792px){
        padding: 0px;
        div {
            width: 100% !important;
            h4 {
                padding: 20px;
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        width: 100%;
        text-align: center;
        p {
            margin: 0 !important;
            padding: 0;
        }
    }
}