* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div {
  width: 60%;
}

header div h1 {
  font-size: 40px;
  font-weight: bold;
}

.d-selecion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-selecion div {
  padding: 15px 50px;
  border: 2px solid black;
  margin: 0px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.d-selecion div p {
  font-size: 20px;
  margin: 0;
  color: white;
  font-weight: bold;
}

.d-selecion .selecionUs {
  background-color: #343A40;
  border: 2px solid #343A40;
}

.d-selecion .selecionEu {
  background-color: #007BFF;
  border: 2px solid #007BFF;
}

.convertidor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
}

.convertidor div {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.convertidor div input {
  width: 60% !important;
  padding: 20px 20px;
  border-radius: 10px;
  color: black !important;
  border: 2px solid #343A40;
}

.convertidor div div {
  padding: 5px;
}

.convertidor div div p {
  font-size: 20px;
  margin: 0;
  padding: 10px;
}

.convertidor div div p a {
  margin: 0;
  text-decoration: none;
}

.convertidor div div h4 {
  font-weight: bold;
}

.resultado {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.resultado div {
  width: 80%;
  height: auto;
  color: white;
  border-radius: 10px;
}

.resultado div h4 {
  padding: 30px;
  font-weight: normal !important;
}

.resultado div h4 span {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.856);
}
/*# sourceMappingURL=style.css.map */