* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
}

.main-app {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-app .app {
  width: 60%;
  padding: 50px;
  border-radius: 20px;
  background-color: #2c3e50;
}

.main-app .app header {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.main-app .app header h1 {
  color: white;
  font-weight: bold;
}

.main-app .app section {
  width: 100%;
  padding: 20px 0px;
}

.main-app .app .seccionBotones {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-app .app .seccionBotones div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-app .app .seccionBotones div div {
  padding: 10px;
  border: 2px solid black;
  margin: 0px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.main-app .app .seccionBotones div div p {
  font-size: 16px;
  margin: 0;
  color: white;
  font-weight: bold;
}

.main-app .app .seccionBotones div .d-usa {
  border: 2px solid #e74c3c;
  background-color: #e74c3c;
}

.main-app .app .seccionBotones div .d-usa p {
  color: white !important;
}

.main-app .app .seccionBotones div .d-eu {
  border: 2px solid #3498db;
  background-color: #3498db !important;
}

.main-app .app .seccionBotones div .d-eu p {
  color: white !important;
}

.main-app .app .seccionBotones div .spanInvertir {
  cursor: pointer;
  padding: 20px;
  background-color: red;
  font-size: 50px;
}

.main-app .app .seccionInput {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-app .app .seccionInput p {
  margin: 0;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.main-app .app .seccionInput .d-inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-app .app .seccionInput .d-inputs div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-app .app .seccionInput .d-inputs div input {
  display: none;
  width: 90%;
  border: 4px solid #e74c3c;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
}

.main-app .app .seccionInput .d-inputs div #result {
  display: none;
}

.main-app .app .seccionInput .d-inputs div p {
  font-size: 16px;
  margin: 0;
}

.main-app .app .seccionInput .d-inputs div .dolar {
  display: block;
  width: 90%;
  border: 4px solid #e74c3c;
  padding: 20px;
  border-radius: 10px;
}

.main-app .app .seccionInput .d-inputs div .euro {
  display: block;
  width: 90%;
  border: 4px solid #3498db;
  padding: 20px;
  border-radius: 10px;
}

.d-selecion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-selecion div {
  padding: 20px 50px;
  border: 2px solid black;
  margin: 0px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.d-selecion div p {
  font-size: 20px;
  margin: 0;
  color: white;
  font-weight: bold;
}

.d-selecion .selecionUs {
  border: 2px solid #343A40;
}

.d-selecion .selecionUs p {
  color: #343A40;
}

.d-selecion .selecionUs:hover {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  background-color: #343A40 !important;
}

.d-selecion .selecionUs:hover p {
  color: white !important;
}

.d-selecion .selecionEu {
  border: 2px solid #007BFF;
}

.d-selecion .selecionEu p {
  color: #007BFF;
}

.d-selecion .selecionEu:hover {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  background-color: #007BFF !important;
}

.d-selecion .selecionEu:hover p {
  color: white !important;
}

@media screen and (max-width: 792px) {
  .d-selecion {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .d-selecion div {
    width: 100%;
    margin: 10px 20px;
    padding: 20px 10px !important;
  }
}

.convertidor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
}

.convertidor div {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.convertidor div input {
  width: 60% !important;
  padding: 30px 20px;
  border-radius: 10px;
  color: black !important;
  border: 2px solid #343A40;
  font-size: 30px;
}

.convertidor div div {
  padding: 5px;
}

.convertidor div div p {
  font-size: 20px;
  margin: 0;
  padding: 10px;
}

.convertidor div div p a {
  margin: 0;
  text-decoration: none;
}

.convertidor div div h4 {
  font-weight: bold;
}

@media screen and (max-width: 792px) {
  .convertidor div input {
    width: 100% !important;
    padding: 30px 10px;
    font-size: 25px;
  }
}

.resultado {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.resultado div {
  width: 80%;
  height: auto;
  color: white;
  border-radius: 10px;
}

.resultado div h4 {
  padding: 30px;
  font-weight: normal !important;
}

.resultado div h4 span {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.856);
}

@media screen and (max-width: 792px) {
  .resultado {
    padding: 0px;
  }
  .resultado div {
    width: 100% !important;
  }
  .resultado div h4 {
    padding: 20px;
  }
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div {
  width: 100%;
  text-align: center;
}

footer div p {
  margin: 0 !important;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */